
.btn { /* BOTON DE MENU*/
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #add8e6;
    color: #90668d;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ensure that the dropdown is positioned correctly */
  }
  
  .btn:hover { /*SOMBRA DEL MENU*/
    box-shadow: 0 0 20px 0px #2e2e2e3a;
    transition: all 0.5s;
  }
  
  .btn .icon { 
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text { /*Transaladar rayas horizontales*/
    transform: translateX(45px);
  }
  
  .btn:hover .icon {
    width: 160px;
  }
  
  .btn:hover .text { /*Animacion*/
    transition: all 0.5s;
    opacity: 0;
  }
  
  .dropdown { /*Desplegable*/
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px; /* Same width as the button */
    background: #9084ae;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    
  }


  .btn:hover .dropdown.show { /*Sombra del desplegable*/
    display: block;
  }
  
  .btn .dropdown a {
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: block;
  }
  
  .btn .dropdown a:hover { /*Animacion de los botones del desplegable*/
    transition: all 0.1s;
    background: #c21e83;
    transform: translateX(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
  }
  .login { /*INTERFAZ DE INICIAR SESION*/
    flex-wrap: wrap;/* RESPONSIVE*/
    min-width: 300px;
    min-height: 300px;/* RESPONSIVE*/
    margin-bottom: 0px;/* RESPONSIVE*/
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #add8e6;
    color: #90668d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    
    
}
.remember-forgot{ /*RECUERDA ME*/
  font-size: 15px;
}
.input-box { /*USER Y PASSWORD*/
  position: relative;
  width: 100%;
}

.input-box input {
  width: 80%;
  padding: 18px;
  font-size: 18px;
  box-sizing: border-box;
}
.input-box input::placeholder {/*Tamaño del placeholder*/
  font-size: 15px;
}
.register-link{/*REGISTRO*/
  font-size: 18px;
}
.btnn{/*BOTON DE ENTRAR EN INICIO DE SESION */

  align-items: center;
  cursor: pointer;
  background-image: linear-gradient(144deg,#99bdd9, #90a1c8 50%,#9084ae);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 4%;
  
  }

/* Estilo para el formulario de registro */
.Registro form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #add8e6;
  color: #90668d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  max-width: 400px; /* Ajusta según tus necesidades */
  margin: auto;
}

.Registro h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.Registro h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.Registro .input-box {
  margin-bottom: 20px;
}

.Registro .input-box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Registro label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #8a4a64;
}

.Registro input[type="radio"] {
  margin-right: 5px;
  
}

.Registro .btn3 {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-image: linear-gradient(144deg, #99bdd9, #90a1c8 50%, #9084ae);
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  transition: background 0.3s ease;
}

.Registro .btn3:hover {
  background-image: linear-gradient(144deg, #90a1c8, #9084ae 50%, #99bdd9);
}



