.btn-1{
    display: inline-block;
    background-color: blueviolet;
    padding: 15px 35px ;
    color: white;
    text-decoration: none;
}

.btn-2{
    background-color: aqua;
    padding: 15px 35px;
    border: 0;
}